@font-face {
  font-family: "LM";
  src: url("/fonts/LM.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KR";
  src: url("/fonts/KR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "KR", sans-serif;
  font-size: smaller;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

html::-webkit-scrollbar {
  height: 4px;
}
html::-webkit-scrollbar-track {
  background: rgb(249, 250, 251);
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 5px;
  width: 40px;
}
html::-webkit-scrollbar-thumb:hover {
  background: rgb(156 163 175);
}
