---
import Header from "../components/Header.astro";
import { nonHomePages, Page } from "../data/pages";

import "../styles/global.css";

// doesn't seem possible to add images dynamically to some kind of list using current setup.
// - solution 1: possible with JSX
// - solution 2: user adds images himself

export async function getStaticPaths() {
  return nonHomePages.map((page) => ({
    params: { page: page.title },
    props: { page },
  }));
}

type Props = { page: Page };

const { page } = Astro.props;
---

<div class="page-container">
  <Header />
  <div class="body-container">
    <div class="text-container">
      <p class="text">
        {page.title}
      </p>
      {
        page.description && (
          <p class="text description">
            {typeof page.description === "string"
              ? page.description
              : page.description.map((sentence) => <span>{sentence}</span>)}
          </p>
        )
      }
    </div>
    <div class="images-container">
      {
        page.media.map((media) =>
          media.type === "image" ? <img src={""} alt="" /> : null
        )
      }
    </div>
  </div>

  <style>
    .page-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-left: 2.5vw;
    }
    .body-container {
      flex-grow: 1;
      display: flex;
    }
    .text-container {
      margin-right: 58px;
    }
    .text {
      width: 405px;
    }
    .description {
      display: flex;
      flex-direction: column;
    }
    .images-container {
      border: 1px solid blue;
      /* flex-grow: 1; */
    }
    img {
      width: 300px;
      height: 200px;
    }
  </style>
</div>
