---
// import image1 from "/src/images/butterfly/1.jpg";
// @ts-ignore: Unreachable code error
import { Picture } from "astro-imagetools/components";
---

<div id="test-container" class="test-container">
  <Picture alt="" src="/src/images/butterfly/1.jpg" format="avif" />
</div>
<style>
  .test-container {
    border: 2px solid red;
  }
</style>

<script>
  const testContainer = document.getElementById(
    "test-container"
  ) as HTMLElement;
  testContainer.addEventListener("click", () => {
    if (testContainer.style.borderColor === "red") {
      testContainer.style.borderColor = "green";
    } else {
      testContainer.style.borderColor = "red";
    }
  });
</script>
