<div class="footer">
  <div class="social-link-container">
    <a href="mailto:alesh@aleshcompton.com" target="_blank"
      >alesh@aleshcompton.com</a
    >
  </div>
  <div class="social-link-container">
    <p>
      <a href="https://www.instagram.com/aleshcompton/" target="__blank"
        >@aleshcompton</a
      >
    </p>
  </div>
</div>

<style>
  .footer {
    display: flex;
    align-items: center;
    gap: 1em;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    padding-right: 2.5vw;
  }
  .social-link-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  a {
    padding: 17px 0;
  }
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
      flex-wrap: wrap;
    }
  }
</style>
