---
---

<div class="footer">
  <div class="social-link-container">
    <p>Mail:</p>
    <a href="mailto:joshgordondublin@gmail.com">joshgordondublin@gmail.com</a>
  </div>
  <div class="social-link-container">
    <p>Insta:</p>
    <p>
      <a href="https://www.instagram.com/joshuagord0n/" target="__blank"
        >@joshuagord0n</a
      >
      <span>&</span>
      <a
        href="https://www.instagram.com/joshua.gordon.is.a.baby/"
        target="__blank">@joshua.gordon.is.a.baby</a
      >
    </p>
  </div>
</div>

<style>
  .footer {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.5vw;
  }
  .social-link-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
      flex-wrap: wrap;
    }
  }
</style>
