---
// import { Image } from "@astrojs/image/components";

import Navigation from "./Navigation.astro";
// import logo from "~images/logo.png";
---

<div class="header-container" id="header">
  <!--   <a class="header-name" href="/">
<Image
      width={70}
      height={70}
      alt=""
      src={logo}
      format="avif"
      fit="contain"
    /> </a> -->
  <a class="header-name" href="/"><span>Alesh Compton</span></a>
  <Navigation />
</div>

<style>
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5vw;
  }
  .header-name {
    position: relative;
    width: 116.175px;
    /* height: 21.6px; */
  }
  .header-name > span {
    position: absolute;
    top: -6px;
    white-space: nowrap;
    text-transform: uppercase;
  }
</style>
