---
import Navigation from "./Navigation.astro";
---

<div class="header-container" id="header">
  <a class="header-name" href="/"><span>Alesh Compton</span></a>
  <Navigation />
</div>

<style>
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5vw;
  }
  .header-name {
    position: relative;
    width: 116.175px;
    /* height: 21.6px; */
  }
  .header-name > span {
    position: absolute;
    top: -6px;
    font-family: "LM", sans-serif;
    white-space: nowrap;
    /* transform: translateY(12px); */
  }
</style>
