---
import Navigation from "./Navigation.astro";
---

<div class="container">
  <a href="/">Joshua Gordon</a>
  <Navigation />
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5vw;
  }
</style>
