---
import Navigation from "./Navigation.astro";
---

<div class="header-container" id="header">
  <a class="header-name" href="/">Alesh Compton</a>
  <Navigation />
</div>

<style>
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5vw;
  }
  .header-name {
    font-family: "LM", sans-serif;
    white-space: nowrap;
  }
</style>
