---
const pageTitles = [""];
---

<div class="container">
  {pageTitles.map((pageTitle) => <a href={pageTitle}>{pageTitle}</a>)}
</div>

<style>
  .container {
    display: inline-flex;
    align-items: center;
    gap: 1vw;
  }
</style>
