---
import type { PageRoute } from "~types/index";

const links: PageRoute[] = [
  "squatumentary",
  "paintings",
  "brexit",
  {
    label: "Estat Du France",
    route: "estat-du-france",
  },
  {
    label: "Painters Touch",
    route: "painters-touch",
  },
  {
    label: "Television God",
    route: "television-god",
  },
  {
    label: "Various Video",
    route: "various-video",
  },
];
---

{
  links.map((link, i) =>
    i === 0 ? (
      <a href={"/"}>{link}</a>
    ) : typeof link === "string" ? (
      <a href={"/" + link}>{link}</a>
    ) : (
      <a href={"/" + link.route}>{link.label}</a>
    )
  )
}
