---
import Layout from "../layouts/Layout.astro";

import type { Page } from "../types";
import Header from "../components/Header.astro";
import Media from "../components/Media.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Test">
  <div class="page-container">
    <Header />
    <div class="body-outer-container">
      <div class="body-inner-container">
        <div class="text-container">
          <p class="text">Test</p>
          <p class="text description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            gravida sagittis lorem nec elementum. Donec accumsan, turpis non
            lacinia dapibus, justo diam placerat tellus, in gravida diam nulla
            et nisi. Morbi porta metus eget odio viverra efficitur. Integer
            viverra turpis felis, eget tincidunt mauris tempus non. Etiam ac
            felis neque. Aenean id efficitur erat. Integer in lectus eu quam
            vestibulum laoreet rutrum id nibh. Aliquam non venenatis sapien.
            Maecenas non mollis mauris. Sed aliquet consectetur ipsum ut
            finibus. Nulla facilisi. Morbi sodales mattis placerat. Donec nec
            sapien ultrices magna vulputate consectetur nec in sem. Mauris ac
            nunc lacus. Cras vulputate scelerisque interdum. In ut dolor ornare,
            interdum arcu sed, molestie neque. Pellentesque vel imperdiet
            tortor. Suspendisse condimentum blandit enim, eu viverra turpis
            maximus a. Fusce tempus elit in purus tincidunt, sed interdum nulla
            ultricies. Duis eu sodales urna. Sed a accumsan ipsum. Ut nisi
            nulla, congue sit amet feugiat at, semper non mi. Donec ut lacus non
            nibh faucibus auctor.
          </p>
        </div>
        <slot />
      </div>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 2.5vw;
  }
  .body-outer-container {
    flex-grow: 1;
    height: 100%;
    position: relative;
  }
  .body-inner-container {
    position: absolute;
    inset: 0;
    display: flex;
    /* max-width: 95%; */
    /* border: 1px solid blue; */
  }
  .text-container {
    margin-right: 58px;
    max-width: 100%;
  }
  .text {
    width: 405px;
    max-width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  @media screen and (max-width: 900px) {
    .page-container {
      height: auto;
    }
    .body-outer-container {
      display: flex;
    }
    .body-inner-container {
      position: static;
      flex-direction: column;
      flex-grow: 1;
      gap: 1em;
      max-width: 100%;
    }
    .text-container {
      margin-right: 0;
    }
  }
</style>
