---
import {
  getThumbnailFromYoutubeId,
  getYoutubeEmbedUrlFromId,
} from "../helpers/youtube";
import MyImage from "./MyImage.astro";
import { Image } from "@astrojs/image/components";

import type { VideoCoverImage } from "../types";

type Props = {
  id: string;
} & VideoCoverImage;

const { id, coverImage } = Astro.props;

const iframeSrc = getYoutubeEmbedUrlFromId(id);

const youtubeThumbnailSrc = getThumbnailFromYoutubeId(id);

const youtubeIframeParams =
  "?enablejsapi=1&modestbranding=1&rel=0&color=white&controls=1";

// NOTES
// - iframe doesn't rerender by default on container size change
// - can't programmatically play youtube video and have volume before first interaction
---

<div id="iframe-inner-container" class="iframe-inner-container">
  <iframe id={id} class="iframe" src={iframeSrc + youtubeIframeParams}></iframe>
  <div id="overlay-container" class="overlay-container">
    {
      coverImage ? (
        <Image
          src={coverImage?.url || youtubeThumbnailSrc}
          class="youtube-thumbnail"
          alt=""
        />
      ) : (
        <img class="youtube-thumbnail" src={youtubeThumbnailSrc} alt="" />
      )
    }
    <div class="playIcon"></div>
  </div>
  <div id="unmute" class="unmute">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="#FFFFFF"
      viewBox="0 0 256 256"
      ><rect width="256" height="256" fill="none"></rect><path
        d="M218.9,77.1a71.9,71.9,0,0,1,0,101.8"
        fill="none"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></path><path
        d="M80,168H32a8,8,0,0,1-8-8V96a8,8,0,0,1,8-8H80l72-56V224Z"
        fill="none"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></path><line
        x1="80"
        y1="88"
        x2="80"
        y2="168"
        fill="none"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></line><path
        d="M190.6,105.4a31.9,31.9,0,0,1,0,45.2"
        fill="#FFFFFF"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></path>
    </svg>
    <span> use controls for volume</span>
  </div>
  <div id="close-button" class="close-button">
    <span> close</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="#FFFFFF"
      viewBox="0 0 256 256"
      ><rect width="256" height="256" fill="none"></rect><circle
        cx="128"
        cy="128"
        r="96"
        fill="none"
        stroke="#FFFFFF"
        stroke-miterlimit="10"
        stroke-width="16"></circle><line
        x1="160"
        y1="96"
        x2="96"
        y2="160"
        fill="none"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></line><line
        x1="160"
        y1="160"
        x2="96"
        y2="96"
        fill="none"
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"></line>
    </svg>
  </div>
  <div id="player-loading" class="player-loading">Loading...</div>
</div>

<style is:global>
  .youtube-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .iframe-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .overlay-container {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgba(254, 254, 254, 0.3);
    cursor: wait;
  }
  .playIcon {
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    border-style: solid;
    border-color: transparent transparent transparent black;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-width: 50px 0px 50px 100px;
  }
  .playIcon-large {
    height: 140px;
    border-width: 70px 0px 70px 140px;
  }
  .close-button {
    z-index: 1;
    position: absolute;
    left: 40%;
    top: 20%;
    transform: translateX(-50%);
    font-size: large;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .unmute {
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translateX(-50%);
    max-width: calc(95%);
    white-space: wrap;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: default;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .player-loading {
    z-index: 6;
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out;
  }
</style>
