---
import { Image } from "@astrojs/image/components";
import {
  getThumbnailFromYoutubeId,
  getYoutubeEmbedUrlFromId,
} from "../helpers/youtube";
import type { VideoCoverImage } from "../types";

type Props = {
  id: string;
} & VideoCoverImage;

const { id, coverImage } = Astro.props;

const iframeSrc = getYoutubeEmbedUrlFromId(id);
const youtubeThumbnailSrc = getThumbnailFromYoutubeId(id);

const youtubeIframeParams = "?enablejsapi=1&modestbranding=1&rel=0&color=white";

// NOTES
// - iframe doesn't rerender by default on container size change
// - can't programmatically play youtube video and have volume before first interaction
---

<div id="iframe-inner-container" class="iframe-inner-container">
  <iframe
    id={id}
    class="iframe"
    src={iframeSrc + youtubeIframeParams}
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
    frameborder="0"
    allowfullscreen></iframe>
  <div id="overlay-container" class="overlay-container">
    {
      coverImage ? (
        <>
          <Image
            class="thumbnail coverImage"
            alt=""
            src={coverImage.url}
            format="avif"
            style={{
              objectPosition: coverImage.position || "center",
            }}
          />
          <div class="playIcon" />
        </>
      ) : (
        <>
          <img class="thumbnail" src={youtubeThumbnailSrc} alt="" />
          <div class="playIcon playIcon-large" />
        </>
      )
    }
    <div class="overlay"></div>
  </div>
  <div id="unmute" class="unmute">use controls for volume</div>
  <div id="close-button" class="close-button">close</div>
</div>

<style>
  .iframe-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .overlay-container {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }
  .overlay {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.3);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }
  .thumbnail {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .playIcon {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    border-style: solid;
    border-color: transparent transparent transparent black;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-width: 50px 0px 50px 100px;
  }
  .playIcon-large {
    height: 140px;
    border-width: 70px 0px 70px 140px;
  }
  .close-button {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 30%;
    background-color: black;
    color: white;
    font-size: x-large;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .unmute {
    z-index: 1;
    position: absolute;
    left: 20px;
    bottom: 30%;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  @media screen and (max-width: 600px) {
    .unmute {
      opacity: 1;
    }
  }
</style>
