---
import Layout from "~layouts/Layout.astro";

const youtubeIframeParams = "?enablejsapi=1&modestbranding=1&rel=0&color=white";
const src = "https://www.youtube.com/embed/QLW1FmWB_5I";
const iframeId = "iframe-test";

// NOTES
// - removed allow string fro iframe ( allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;").
// - when no interaction, setting volume causes pause.
// - tested volume increased to 100 for mobile.
---

<Layout pageTitle="basic yt" preconnectYoutube={false}>
  <div class="container">
    <div class="iframe-container">
      <iframe id={iframeId} class="iframe" src={src + youtubeIframeParams}
      ></iframe>
    </div>
  </div>
  <!--   <div class="container" id="container">
    <iframe id={iframeId} class="iframe" src={src + youtubeIframeParams}
    ></iframe>
    <div class="play-button" id="play-button">PLAY</div>
  </div>
  <button id="expand">transform</button> -->
</Layout>

<style>
  .container {
    position: fixed;
    width: 98%;
    height: 98%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .iframe-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 16/9;
  }
  .iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>

<script type="text/javascript">
  // HANDLE IFRAME
  // ------------------------

  // ELEMENTS
  const iframe = document.getElementById("iframe-test");
  // const container = document.getElementById("prototype-yt-iframe-container");
  const playButton = document.getElementById("play-button");

  // CONSTANTS

  // HELPERS

  var tag = document.createElement("script");
  tag.id = "iframe-demo";
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName("script")[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubeIframeAPIReady() {
    const player = new YT.Player(iframe.id, {
      events: {
        onReady,
        // onStateChange,
      },
    });

    function onReady(event) {
      event.target.setVolume(0);

      playButton.addEventListener("click", () => {
        player.playVideo();
      });
    }
  }
</script>
<script>
  const container = document.getElementById("container")!;
  const expandButton = document.getElementById("expand")!;

  expandButton.addEventListener("click", () => {
    container.style.width = "800px";
    container.style.height = "400px";
  });
</script>
