---
import "../styles/global.css";
export type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Joshua Gordon - {pageTitle}</title>
    <meta
      name="description"
      content="Joshua Gordon is a photographer and a director currently based in London, United Kingdom."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
