---
import Layout from "./Layout.astro";

import type { Page } from "../types";
import Header from "../components/Header.astro";
import Media from "../components/Media.astro";
import Footer from "../components/Footer.astro";

type Props = Page;

const page = Astro.props;

// TODO: media swiper changes for phone
---

<Layout pageTitle={page.title}>
  <div class="page-container">
    <Header />
    <div class="body-outer-container">
      <div class="body-inner-container">
        <div class="text-container">
          <p class="text">
            {page.title}
          </p>
          {
            page.description && (
              <p class="text description">
                {typeof page.description === "string"
                  ? page.description
                  : page.description.map((sentence) => <span>{sentence}</span>)}
              </p>
            )
          }
        </div>
        <Media media={page.media} />
      </div>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 2.5vw;
  }
  .body-outer-container {
    flex-grow: 1;
    height: 100%;
    position: relative;
  }
  .body-inner-container {
    position: absolute;
    inset: 0;
    display: flex;
    max-width: 95%;
  }
  .text-container {
    margin-right: 58px;
    max-width: 100%;
  }
  .text {
    width: 405px;
    max-width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  @media screen and (max-width: 900px) {
    .page-container {
      height: auto;
    }
    .body-inner-container {
      position: static;
      flex-direction: column;
      gap: 1em;
    }
    .text-container {
      margin-right: 0;
    }
  }
</style>
