---
import Layout from "./Layout.astro";

import Header from "~components/Header.astro";
import Media from "~components/media/Media.astro";
import Footer from "~components/Footer.astro";

import type { Page } from "~types/index";

type Props = Page;

const page = Astro.props;
---

<Layout
  pageTitle={page.title}
  preconnectYoutube={page.media
    .map((item) => item.type)
    .includes("youtube-video")}
>
  <div class="page-container">
    <Header />
    <div class="body-outer-container">
      <div class="body-inner-container">
        <div class="text-container">
          <p class="text title">
            {page.title}
          </p>
          {
            page.description && (
              <p class="text description">
                {page.description.map((sentence) => (
                  <span>{sentence}</span>
                ))}
              </p>
            )
          }
        </div>
        <Media media={page.media} />
      </div>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 2.5vw;
  }
  .body-outer-container {
    flex-grow: 1;
    height: 100%;
    position: relative;
  }
  .body-inner-container {
    position: absolute;
    inset: 0;
    display: flex;
  }
  .text-container {
    margin-right: 58px;
    max-width: 100%;
  }
  .text {
    width: 405px;
    max-width: 100%;
  }
  .title {
    /* font-family: "VG", sans-serif; */
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  @media screen and (max-width: 900px) {
    .page-container {
      height: auto;
    }
    .body-outer-container {
      display: flex;
    }
    .body-inner-container {
      position: static;
      flex-direction: column;
      flex-grow: 1;
      gap: 1em;
      max-width: 100%;
    }
    .text-container {
      margin-right: 0;
    }
  }
</style>
